runtime: python27
api_version: 1
threadsafe: yes

handlers:
# Manage webhooks
- url: /(set|get|del)_webhook
  # Requires the user to be an administrator for the application
  login: admin
  script: main.app

- url: /me
  script: main.app

# Webhook called by Telegram
- url: /your_webhook_token_here 
  script: main.app

libraries:
- name: webapp2
  version: "2.5.2"
